= simple_form_for :user, method: :patch, url: password_reset_path(params[:id]) do |f|
  .form-group
    = f.input :password, label: "New password", input_html: { class: "form-control" }

  .form-group
    = f.input :password_confirmation, label: "Confirm new password", input_html: { class: "form-control" }

  = f.submit "Reset Password", class: "btn btn-primary"
