.row
  .large-12.columns
    %h1 Hi #{user.first_name}!

    %p As you may have noticed, we've updated the website with some awesome new features to make your recording experience better than ever before!

    %p The changes we made require that we verify your account password. Please verify your account password below.

.row
  .large-4.columns
    = render "form"