<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Recording Request</title>
  </head>
  <body>
    <p>Hi <%= @user.first_name %>,</p>
    <p>
      Your recording request for <%= @recording.datetime %> has been confirmed. I typically show up about 45 minutes prior to the performance.
    </p>

    <p>
      Please let me know if you have any questions.
    </p>

    <p>
      Thanks,<br />
      Kevin
    </p>
  </body>
</html>