.row
  .col-md-4
    .pricing-panel
      %h2.pricing-panel__title Multi Camera
      .pricing-panel__content
        .pricing-panel__group
          %h3 $250/hour
          %p.pricing-pricing__description A multi camera shoot is prefect for those seeking a truly professional recording. Incorporating three different camera angles and professional audio, this option will capture every aspect of your performance.

        .pricing-panel__group
          %h4 Audio and Video files - Free!
          %p Includes free high-definition digital audio and video files available for download

        .pricing-panel__group
          %h4 Live streaming - $50
          %p Available at #{link_to "rockwoodpro.com/live", live_path}

        .pricing-panel__group
          %h4 CDs and DVDs - $20 each
          %p High definition printed and packaged discs 

  .col-md-4
    .pricing-panel
      %h2.pricing-panel__title Single Camera
      .pricing-panel__content
        .pricing-panel__group
          %h3 $200/hour
          %p.pricing-pricing__description A great option for those seeking an archival or audition recording. The camera will capture your entire performance from the audience perspective.

        .pricing-panel__group
          %h4 Audio and Video files - Free!
          %p Includes free high-definition digital audio and video files available for download

        .pricing-panel__group
          %h4 Live streaming - $50
          %p Available at #{link_to "rockwoodpro.com/live", live_path}

        .pricing-panel__group
          %h4 CDs and DVDs - $20 each
          %p High definition printed and packaged discs

  .col-md-4
    .pricing-panel
      %h2.pricing-panel__title Audio Only 
      .pricing-panel__content
        .pricing-panel__group
          %h3 $150/hour
          %p.pricing-pricing__description Capture you're performance with the highest quality audio recording. A great option for those who don't require video.

        .pricing-panel__group
          %h4 Audio and Video files - Free!
          %p Includes free high-definition digital audio files available for download

        .pricing-panel__group
          %h4 Live streaming - $50
          %p Available at #{link_to "rockwoodpro.com/live", live_path}

        .pricing-panel__group
          %h4 CDs - $20 each
          %p High definition printed and packaged discs 

