.row
  .col-md-6
    .pricing-panel
      %h2.pricing-panel__title Live Performance
      .pricing-panel__content.pricing-panel__content--split
        %h3.pricing-panel__heading Audio & Video

        .pricing-panel__group
          %h4 $150
          %p Includes audio and video files available for download

        .pricing-panel__group
          %h4 $50
          %p Live streaming. Available at #{link_to "rockwoodpro.com/live", live_path}

        .pricing-panel__group
          %h4 $15 each
          %p High Definition Printed & Packaged CD or DVD

      .pricing-panel__content.pricing-panel__content--split
        %h3.pricing-panel__heading Audio Only

        .pricing-panel__group
          %h4 $100
          %p Includes audio files available for download

        .pricing-panel__group
          %h4 $50
          %p Live streaming. Available at #{link_to "rockwoodpro.com/live", live_path}

        .pricing-panel__group
          %h4 $15 each
          %p High Definition Printed & Packaged CD

  .col-md-6
    .pricing-panel
      %h2.pricing-panel__title Private Recording Session
      .pricing-panel__content.pricing-panel__content--split
        %h3.pricing-panel__heading Audio & Video

        .pricing-panel__group
          %h4 $150/hour
          %p Includes audio and video files available for download plus basic editing

        .pricing-panel__group
          %h4 $15 each
          %p High Definition Printed & Packaged CD or DVD

      .pricing-panel__content.pricing-panel__content--split
        %h3.pricing-panel__heading Audio & Video

        .pricing-panel__group
          %h4 $100/hour
          %p Includes audio and video files available for download

        .pricing-panel__group
          %h4 $15 each
          %p High Definition Printed & Packaged CD or DVD plus basic editing
