.row
  .col-md-6
    .panel.panel--pricing
      %h2.panel__title Live Performance
      .panel__content.panel__content--split
        %h3 Audio & Video

        %h4 $150

        %p Includes audio and video files available for download

        %h4 $15 each

        %p High Definition Printed & Packaged CD or DVD

      .panel__content.panel__content--split
        %h3 Audio Only

        %h4 $100

        %p Includes audio files available for download

        %h4 $15 each

        %p High Definition Printed & Packaged CD

  .col-md-6
    .panel.panel--pricing
      %h2.panel__title Private Recording Session
      .panel__content.panel__content--split
        %h3 Audio & Video

        %h4 $150/hour

        %p Includes audio and video files available for download plus basic editing

        %h4 $15 each

        %p High Definition Printed & Packaged CD or DVD

      .panel__content.panel__content--split
        %h3 Audio & Video

        %h4 $100/hour

        %p Includes audio and video files available for download

        %h4 $15 each

        %p High Definition Printed & Packaged CD or DVD plus basic editing
