{{#modal-dialog onClose="closeModal"}}
  <h3 class="modal__title">Live Streaming</h3>

  <div class="modal__content">
    <p>
      Your performance will be streamed at <a href="http://rockwoodpro.com/live">rockwoodpro.com/live</a>. Viewers
      will need a modern web browser with has access to YouTube.com.
    </p>

    <p>Your performane venue will need a reliable wireless internet connection.</p>
  </div>
{{/modal-dialog}}
