{{#modal-dialog onClose="closeModal"}}
  <h3 class="modal__title">Recording Levels</h3>

  <div class="modal__content">
    <p>
      Each recording option includes professional quality digital audio and video files for you to download.
      CDs and DVDs are also available. For an example of each recording option, {{#link-to 'recordings.show' 'demo'}}view the demo{{/link-to}}.
    </p>

    <h4>Multi Camera - <span class="light">$225/hour</span></h4>
    <p>
      A multi camera shoot is prefect for those seeking a truly professional recording. It incorporates three 
      different camera angles and professional audio for a recording that will capture every aspect of your
      performance.
    </p>

    <h4>Single Camera - <span class="light">$150/hour</span></h4>
    <p>
      Using the highest quality audio and video equipment, this is great option for those seeking an archival or
      audition recording. The camera will capture your entire performance from the audience perspective.
    </p>
    
    <h4>Audio Only - <span class="light">$100/hour</span></h4>
    <p>
      Capture you're performance with the highest quality audio recording. This is a great option for those who
      don't require video.
    </p>
  </div>
{{/modal-dialog}}
