{{#modal-dialog onClose="closeModal"}}
  <h3 class="modal__title">Share your recording</h3>

  <div class="modal__content">
    <p>Share individual recordings with others by checking the box next to each piece you'd like to share. Only shared pieces will be visible to those who visit.</p>
  </div>
{{/modal-dialog}}
