<input {{bind-attr value=value}} class="form-control copyable__input" readonly="readonly" data-test="copyable-input"></input>
<span class="input-group-btn">
  <button class="btn btn-default copyable__button" {{bind-attr data-clipboard-text=value}}>
    <i class="fa fa-copy"></i> 
    {{copyButtonText}}
  </button>
</span>
