<div {{action 'deactivate'}} class="modal__backdrop"></div>

<div class="modal__box">
  <div class="modal__content">
    <i {{action 'deactivate'}} class="fa fa-times modal__close"></i>
    {{yield}}
  </div>
</div>
