<span class="input-group-btn">
  <button {{action "decrement"}} class="btn btn-default"}}>
    <i class="fa fa-minus"></i>
  </button>
</span>

{{input type="text" value=value class="form-control number-picker__input" id=inputId}}

<span class="input-group-btn">
  <button {{action "increment"}} class="btn btn-default">
    <i class="fa fa-plus"></i>
  </button>
</span>

