<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Recording Request</title>

  </head>
  <body>
    <p>Hi <%= @recording.user.first_name %>,</p>
    <p>
      Thanks so much for choosing Rockwood Productions.
      I'll take a look at my schedule and let you know if I'm free.
      If you have any questions, please feel free to reply to this email.
    </p>

    <p>
      Thanks!<br />
      Kevin
    </p>
  </body>
</html>
