.panel
  display: block
  margin-bottom: 20px
  border: 1px solid #666
  background: #fff
  @include clearfix
  @include box-shadow(0 0 3px #666)

.panel--pricing
  text-align: center
  .panel__content
    min-height: 425px

.panel__title
  background: $brand-orange
  font-size: 24px
  text-align: center
  color: #fff
  padding: 8px
  font-weight: normal
  border-bottom: 1px solid #ddd
  margin: 0

.panel__content
  padding: 20px

.panel__content--split
  width: 50%
  float: left
  border-right: 1px solid #ddd
