.playlist
  width: 100%

.playlist__item
  &:hover
    background: $rockwoodpro-lightgrey
    cursor: pointer
  td
    border-bottom: 1px solid #ddd

.playlist__actions
  width: 100px

.playlist__action
  font-size: 22px
  margin-right: 4px
  display: inline-block
  color: $rockwoodpro-grey
  &:hover
    color: $rockwoodpro-blue

.playlist__item--active, .playlist__item--active:hover
  background: $rockwoodpro-blue !important
  color: #fff
  .playlist__action
    color: inherit
    &:hover
      color: #ddd

.playlist__is-shared
  padding: 0

@media screen and (max-width: $screen-xs)
  .playlist__actions, .playlist__filetype
    display: none
