<thead>
  <tr>
    <th>Title</th>
    <th>Composer</th>
  </tr>
</thead>
<tbody>
  {{#each itemController="piece"}}
    <tr {{action play this}} {{bindAttr class="playing:active"}}>
      <td>{{title}}</td>
      <td>{{performer}}</td>
    </tr>
  {{/each}}
</tbody>