<nav class="nav nav--vertical">
  {{#each}}
    {{#link-to 'recording' this class="nav__item"}}
      <h3 class="nav__supertitle">{{datetime datetime}}</h3>
      <h2 class="nav__title">{{location}}</h2>
    {{/link-to}}
  {{else}}
    <div class="nav__item">You don't have any recordings yet. <a href="/recordings/new">Request one here</a></div>
  {{/each}}
</nav>

<div class="main">
  {{outlet}}
</div>