<nav class="nav nav--vertical">
  <header class="nav__header">
    <h1>My Recordings</h1>
  </header>
  {{#each}}
    {{#link-to 'recording' this class="nav__item"}}
      <h3 class="nav__supertitle">{{datetime datetime}}</h3>
      <h2 class="nav__title">{{location}}</h2>
    {{/link-to}}
  {{/each}}
</nav>

<div class="main">
  {{outlet}}
</div>
