<div class="row">
  <div class="col-md-3">
    <nav class="panel panel-default">
      <header class="panel-heading">
        <h4>My Recordings</h4>
      </header>

      <div class="list-group">
        {{#each}}
          {{#link-to 'recording' this class="list-group-item"}}
            <h4 class="list-group-item-heading">{{location}}</h4>
            <small class="list-group-item-text">{{datetime datetime}}</small>
          {{/link-to}}
        {{/each}}
      </div>
    </nav>
  </div>

  <div class="col-md-9">
    {{outlet}}
  </div>
</div>
