<nav class="nav nav--vertical">
  {{#each}}
    {{#link-to 'recording' this class="nav__item"}}
      <h3 class="nav__supertitle">{{datetime datetime}}</h3>
      <h2 class="nav__title">{{location}}</h2>
    {{/link-to}}
  {{/each}}
  <a href="/recordings/new" class="nav__item">
    <h2 class="nav__title">Request a Recording</h2>
  </a>
</nav>

<div class="main">
  {{outlet}}
</div>