/////////////////////////////////
// Brand Bar
/////////////////////////////////

.brand-bar
  position: fixed
  top: 0
  width: 100%
  height: $brand-bar-height
  padding: 5px 20px
  border-bottom: 2px solid #ddd
  background: #fff
  z-index: 100

.brand-bar__flashes
  position: absolute
  left: 50%
  width: 500px
  margin-left: -250px
  margin-top: 8px

.flash
  color: #fff
  text-align: center
  padding: 6px
  border-radius: 4px
  background: $brand-grey

.flash--notice
  background: $brand-green

.flash--alert
  background: $brand-red

.flash--error
  background: $brand-red

.brand-bar__logo
  float: left
  max-width: 30%
  img
    width: 100%

.brand-bar__nav
  float: right
  text-align: right
  a
    margin: 0 0 0 30px
    display: inline-block
    line-height: 48px

/////////////////////////////////
// Hero
/////////////////////////////////

.hero
  background: image-url('hero.jpg') no-repeat
  @include background-size(cover)
  min-height: 500px
  margin-bottom: 50px

.hero__login
  margin-top: 50px
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8)
  h1
    color: $brand-white
    margin: 0
  abbr
    display: none
  label
    color: $brand-white
    font-size: 20px
    font-weight: normal

/////////////////////////////////
// Panels
/////////////////////////////////

.panel
  display: block
  margin-bottom: 20px
  border: 1px solid #666
  background: #fff
  @include clearfix
  @include box-shadow(0 0 3px #666)

.panel--pricing
  text-align: center
  .panel__content
    min-height: 425px

.panel__title
  background: $brand-orange
  font-size: 24px
  text-align: center
  color: #fff
  padding: 8px
  font-weight: normal
  border-bottom: 1px solid #ddd
  margin: 0

.panel__content
  padding: 20px

.panel__content--split
  width: 50%
  float: left
  border-right: 1px solid #ddd

/////////////////////////////////
// Buttons
/////////////////////////////////

.button
  display: inline-block
  padding: 10px 16px
  border-radius: 5px
  background: $brand-lightgrey
  color: #fff
  &:hover
    background: lighten($brand-lightgrey, 10%)
    color: #fff

.button--info
  background: $brand-blue
  &:hover
    background: lighten($brand-blue, 10%)


/////////////////////////////////
// Nav
/////////////////////////////////

.nav
  position: fixed
  width: $nav-width
  height: 100%
  border-right: 1px solid #ddd

.nav__header
  padding: 10px
  border-bottom: 1px solid #ddd
  @include background-image(linear-gradient(lighten($brand-grey, 80%), lighten($brand-grey, 70%)))
  @include clearfix
  h1
    float: left
    font-size: 22px
    margin-bottom: 0
  .button
    float: right
    margin: 0

.nav__item
  display: block
  padding: 10px
  &.active
    border-top: 1px solid lighten($brand-blue, 15%)
    @include background-image(linear-gradient(lighten($brand-blue, 20%), lighten($brand-blue, 15%)))
    border-bottom: 1px solid lighten($brand-blue, 10%)

.nav__supertitle
  font-size: 14px
  margin: 0

.nav__title
  font-size: 18px
  margin: 0

/////////////////////////////////
// Main
/////////////////////////////////

.main
  width: 100% - $nav-width
  min-height: 100%
  float: right

.main__content
  padding: 20px

/////////////////////////////////
// Player
/////////////////////////////////

.playlist
  width: 100%

.playlist__item
  &:nth-of-type(even)
    background: #eee
  &:hover
    background: $brand-turquois
    cursor: pointer

.playlist__item--active
  background: $brand-green !important

.playlist__actions
  width: 60px
  text-align: right
  a
    display: inline-block

.media-element
  padding: 0 20px
  background: #000

/////////////////////////////////
// Badges
/////////////////////////////////

.badge
  padding: 2px 10px
  font-size: 14px
  color: #fff
  border-radius: 4px
  background: lighten($brand-grey, 40%)

.badge--normal
  background: $brand-blue

.badge--success
  background: $brand-green

/////////////////////////////////
// Extras
/////////////////////////////////

.callout
  text-align: center
  margin: 50px 0

.icon--featured
  color: $brand-orange

