.brand-bar
  border-bottom: 2px solid #ddd
  padding: 10px 0

.brand-bar__nav
  text-align: right
  a
    margin: 0 0 0 30px
    display: inline-block
    line-height: 48px

.flash
  color: #fff

.flash--notice
  background: $brand-green

.flash--error
  background: $brand-red

.flash__message
  text-align: center
  margin: 0
  padding: 6px

.hero
  background: image-url('hero.jpg') no-repeat
  @include background-size(cover)
  min-height: 500px
  margin-bottom: 50px

.hero__login
  margin-top: 50px
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8)
  h1
    color: $brand-white
    margin: 0
  abbr
    display: none
  label
    color: $brand-white
    font-size: 20px
    font-weight: normal

.panel
  display: block
  margin-bottom: 20px
  border: 1px solid #666
  background: #fff
  @include clearfix
  @include box-shadow(0 0 3px #666)

.panel--linked
  cursor: pointer
  &:hover
    @include box-shadow(none)

.panel--featured
  min-height: 300px
  .panel__content
    text-align: center

.panel--pricing
  text-align: center
  .panel__content
    min-height: 425px

.panel__title
  background: $brand-orange
  font-size: 24px
  text-align: center
  color: #fff
  padding: 8px
  font-weight: normal
  border-bottom: 1px solid #ddd
  margin: 0

.callout
  text-align: center
  margin: 50px 0

.panel__content
  padding: 20px

.panel__content--split
  width: 50%
  float: left
  border-right: 1px solid #ddd

.icon--featured
  color: $brand-orange

.video
  width: 100%

.playlist
  width: 100%

.playlist__item
  &:nth-of-type(even)
    background: #eee
  &:hover
    background: $brand-turquois
    cursor: pointer

.playlist__item--active
  background: $brand-green !important

.playlist__actions
  width: 20px
  text-align: right
