table
  border-collapse: collapse
  border-spacing: 0
  background: #fff
  margin-bottom: 20px
  border: solid 1px #DDD
  thead
    background: #f1f1f1
    th
      padding: 8px 10px
      color: #222
      text-align: left
      font-weight: bold
  tbody
    td
      padding: 5px 10px

dl
  display: block
  margin-bottom: 10px

dt
  min-width: 100px
  display: inline-block
  text-align: right
  margin-right: 20px

dd
  display: inline-block