// https://kuler.adobe.com/oddend-color-theme-2181

$brand-black: #1C1D21
$brand-grey: #31353D
$brand-red: #FF358B
$brand-blue: #445878
$brand-green: #86ED77
$brand-turquois: #92CDCF
$brand-white: #EEEFF7

$navbar-height: 60px